In [1]:
import pandas as pd

# Load the CSV file to examine its structure
# file_path = '/mnt/data/Test_info.csv'
df = pd.read_csv('Test_info.csv')

# Display the first few rows and the column information
df.head(), df.columns

(  Products Unnamed: 1 Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
 0      NaN        NaN        NaN         NaN         NaN         NaN
 1     Name   Price($)  Weight(g)         NaN         NaN         NaN
 2   Item 1         10        200         NaN         NaN         NaN
 3   Item 2        100         20         NaN         NaN         NaN
 4   Item 3         30        300         NaN         NaN         NaN

    Unnamed: 6  Unnamed: 7 Courier Charges Unnamed: 9
 0         NaN         NaN             NaN        NaN
 1         NaN         NaN       Weight(g)  Charge($)
 2         NaN         NaN       0 to 200g        $5
 3         NaN         NaN    200g to 500g       $10
 4         NaN         NaN   500g to 1000g       $15   ,
 Index(['Products', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
        'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Courier Charges',
        'Unnamed: 9'],
       dtype='object'))

In [2]:
df = df.drop([0, 1])
df = df[['Products','Unnamed: 1', 'Unnamed: 1']]
df.reset_index()
df

   Products Unnamed: 1 Unnamed: 1
2    Item 1         10         10
3    Item 2        100        100
4    Item 3         30         30
5    Item 4         20         20
6    Item 5         30         30
7    Item 6         40         40
8    Item 7        200        200
9    Item 8        120        120
10   Item 9        130        130
11  Item 10         20         20
12  Item 11         10         10
13  Item 12          4          4
14  Item 13          5          5
15  Item 14        240        240
16  Item 15        123        123
17  Item 16        245        245
18  Item 17        230        230
19  Item 18        110        110
20  Item 19         45         45
21  Item 20         67         67
22  Item 21         88         88
23  Item 22         10         10
24  Item 23         17         17
25  Item 24         19         19
26  Item 25         89         89
27  Item 26         45         45
28  Item 27         99         99
29  Item 28        125        125
30  Item 29        198        198
31  Item 30        220        220
32  Item 31        249        249
33  Item 32        230        230
34  Item 33        190        190
35  Item 34         45         45
36  Item 35         12         12
37  Item 36          5          5
38  Item 37          2          2
39  Item 38         90         90
40  Item 39         12         12
41  Item 40        167        167
42  Item 41         12         12
43  Item 42          8          8
44  Item 43          2          2
45  Item 44          9          9
46  Item 45        210        210
47  Item 46        167        167
48  Item 47         23         23
49  Item 48        190        190
50  Item 49        199        199
51  Item 50         12         12